@mixin header {
  width: auto;
  height: 75px;
  background: #2f2424;
  display: flex;
}

.redCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: brown;
  position: absolute;
  right: 140px;
  top: 15px;
  z-index: 20;
}

@media (max-width: 920px) {
  .redCircle {
    display: none;

  }

}

.wrap-header {
  @include header;
}

.adaptive_menu {
  position: absolute;
}


.header__logo {
  width: 50px;
  height: 15px;
  display: flex;
  flex-direction: column;

  .logo {
    margin: 15px 0 0 10px;
  }

  img {
    width: 100%;
  }
}

.header_logo__title {
  display: flex;
  flex: 1 1 auto;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  p {
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
    margin: 25px 0 0 25px;
    cursor: pointer;
  }
}

.header_logo__title.active {
  margin-left: 35%;
}

@media (max-width: 700px) {
  .header_logo__title.active {
    margin-left: 30%;
  }
}

@media (max-width: 620px) {
  .header_logo__title.active {
    margin-left: 25%;
  }
}

@media (max-width: 420px) {
  .header_logo__title.active {
    margin-left: 20%;
  }
}

@media (min-width: 922px) {
  .header_logo__title.active {
    margin-left: 0;
  }
}

.menu__burger {
  transition: 800ms;
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  top: -65px;
  left: 90%;
  z-index: 15;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    z-index: 15;
    bottom: 12px;
    transition: all 500ms ease 0s;
  }

  &:before, &:after {
    content: '';
    z-index: 6;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: all 500ms ease 0s;
  }

  &:after {
    position: absolute;
    bottom: 0;
  }
}

.menu__burger.active {
  &:before {
    top: 10px;
    transform: rotate(45deg);
  }

  &:after {
    bottom: 12px;
    transform: rotate(-45deg);
  }

  span {
    transform: scale(0);
  }
}


@media (max-width: 920px) {
  .menu__burger {
    display: block;
  }

  .wrap-header {
    flex-direction: column;

    .header_logo__title {
      z-index: 13;
      margin-bottom: 60px;
    }
  }

  .adaptive_menu {
    position: fixed;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    top: -120%;
    z-index: 10;
    background: black;
    transition: 500ms;
  }
  .adaptive_menu.active {
    top: 0;
  }

}

@media (max-width: 500px) {
  .adaptive_menu {
    height: 120%;
  }
  .menu__burger {
    left: 85%;
  }
}


.nav {
  display: flex;
  height: 75%;
  margin-top: 20px;

  &__item {
    position: relative;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 0 10px 10px 10px;
    width: 130px;
    margin-top: -5px;
    transition: 400ms;

    &:hover {
      box-shadow: 0 0 10px white;
      cursor: pointer;
    }

    .nav__item-img {
      margin: 0 auto;
      width: 40px;
      margin-top: -15px;

      img {
        width: 100%;
      }
    }

    .nav__item-title {
      text-align: center;
      font-size: 15pt;
      margin-top: 5px;
    }
  }
}

@media (max-width: 920px) {

  .nav {
    flex-direction: column;
    margin-top: 20px;

    &__item {
      width: 100%;
      position: absolute;
      opacity: 1;
      top: -120%;
      margin: 0 auto;
      padding: 0 10px 10px 10px;
      z-index: 11;
    }

    &__item.active {
      margin-top: 20px;
      transition-property: all;
      transition-duration: 0.8s;
      transition-delay: 0s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      top: 0;
      opacity: 1;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: white;
        transition: 800ms;
      }

      &:hover {
        box-shadow: 0 0 0 white;

        &::after {

          background: brown;
        }
      }

    }
  }
}

