<div class="wrap-goods">
  <div class="content">
    <h1 class="goods__title">Clothes</h1>
    <div *ngIf="!isGoodsListEmpty" class="no_clothes">No clothes available</div>
    <div *ngIf="isGoodsListEmpty">
      <div fxLayout="row wrap" fxLayoutGap="0 grid">
        <app-good-card fxFlex.gt-sm="33%" fxFlex.gt-xs="50%" *ngFor="let good of goods" [good]="good"></app-good-card>
      </div>
    </div>
    <button mat-raised-button color="primary" style="display: block; margin: auto">Add new clothes</button>
  </div>
</div>
