.wrap-goods {
  max-width: 1400px;
  margin: 150px auto 0 auto;

.goods__title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35pt;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

.content {
  padding: 16px;
}
}

.redCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: brown;
  right: 10px;
  top: 15px;
  z-index: 20;
}

.no_shops {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 20% 20px;
  font-size: 30pt;
  vertical-align: center;
  color: crimson;
}

.pagination-nav {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: flex-start;
}

.toggle-filter-button {
  margin: 1% 5% 0 0;
}

.search-field {
  width: 30rem;
}

.header-container-filter {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}
