<div class="wrap-goods">
  <div class="header-container">
    <button mat-stroked-button color="primary" (click)="changeFilter('All')">Favorite</button>
    <button mat-stroked-button color="primary" (click)="changeFilter('Second-hand')">Subscribed</button>
  </div>
  <div class="content">
    <h1 class="goods__title">Shops</h1>
    <div *ngIf="!isShopsEmpty" class="no_shops">No Shops available</div>
    <div *ngIf="isShopsEmpty">
      <div fxLayout="row wrap" fxLayoutGap="0 grid">
        <app-shop-card fxFlex.gt-sm="33%" fxFlex.gt-xs="50%" *ngFor="let shop of shops" [shop]="shop"></app-shop-card>
      </div>

      <div class="pagination-nav">
        <ul *ngIf="pager.content && pager.content.length" class="pagination">
          <li [ngClass]="{disabled:pager.pageNumber === 0}" class="page-item first-item">
            <a (click)="setPageByPagination(0)" class="page-link">First</a>
          </li>
          <li [ngClass]="{disabled:pager.pageNumber === 0}" class="page-item previous-item">
            <a (click)="setPageByPagination(pager.pageNumber - 1)" class="page-link">Previous</a>
          </li>
          <li *ngFor="let page of listOfPages" [ngClass]="{active:pager.pageNumber === page}" class="page-item number-item">
            <a (click)="setPageByPagination(page)" class="page-link">{{page + 1}}</a>
          </li>
          <li [ngClass]="{disabled:pager.pageNumber + 1 === pager.totalPages}" class="page-item next-item">
            <a (click)="setPageByPagination(pager.pageNumber + 1)" class="page-link">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.pageNumber + 1 === pager.totalPages}" class="page-item last-item">
            <a (click)="setPageByPagination(pager.totalPages - 1)" class="page-link">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
