//.wrap-shop-info {
//  margin: 2%;
//  width: 95%;
//  min-height: 490px;
//}
//
//.logo-icon {
//  width: 25%;
//  border-radius: 5%;
//}
//
//.shop-info {
//  display: flex;
//  flex-direction: row;
//  justify-content: flex-start;
//}
//
//.shop-info-detail-wrapper {
//  margin: 0% 0% 0% 1%;
//  flex-grow: 1;
//}
//
//.shop-info-detail {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-around;
//}
//
//.shop-info-detail-fields {
//  flex: 2;
//}
//
//.shop-info-detail-map {
//  flex: 1;
//}
//
//.shop-info-fields-column {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//}
//
//.shop-info-fields {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//}
//
//.shop-info-fields-row {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-around;
//  margin-bottom: 3rem;
//}
//
//.subscribe-button-wrapper {
//  float: right;
//  width: 25%;
//  margin-top: 1%;
//}
//
//.subscribe-button {
//  flex-direction: row;
//  align-items: flex-end;
//  margin-top: auto;
//  position: absolute;
//  right: 10px;
//  width: 23em;
//}
//
//.button {
//  margin: 1%;
//}
//
//.description-textarea {
//  resize: none;
//}
//
//.description-field {
//  margin-left: 8%;
//  width: 84%;
//
//  .mat-form-field {
//    width: 100%;
//    height: 25px;
//  }
//}


.shop-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media (max-width: 1375px) {
    flex-direction: column;
  }
}

.wrap-shop-info {
  margin: 2%;
  width: 96%;
  min-height: 490px;
}

.shop-info-logo {
  flex-grow: 1;
  border-radius: 5%;
  width: 5%;
  min-width: 400px;
  max-height: 445px;

  @media (max-width: 1375px) {
    width: 80%;
    margin: 2% auto 5% auto;
  }
}

.shop-info-detail-wrapper {
  flex-grow: 2;
}

.shop-info-map {
  flex-grow: 1;
}

.shop-info-detail-map {
  @media (max-width: 1375px) {
    width: 87%;
    margin: 10% auto 5% auto;
  }
}

.shop-info-fields-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shop-info-fields-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.description-field {
  margin-left: 9%;
  width: 82%;

  .mat-form-field {
    width: 100%;
    height: 25px;
  }
}

.shop-info-field {
  @media (max-width: 700px) {
    mat-label{
      font-size: 17px;
    }
    width: 80%;
    margin: auto;
  }
}

.subscribe-button-wrapper {
  margin-top: 1%;
}

.subscribe-button {
  display: flex;
  justify-content: end;
  margin-top: 25px;

  span {
    margin: 0 0 0 1%;
  }
}
