<mat-card class="wrap-shop-info">
  <mat-card-content layout="row" layout-align="space-between">
    <div class="shop-info">
      <img class="shop-info-logo" src="{{shop.image}}" alt="">

      <div class="shop-info-detail-wrapper">
        <div class="shop-info-detail-fields">
          <div class="shop-info-fields-column">
            <div class="shop-info-fields-row">
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Name</mat-label>
                <input matInput value={{shop.name}} disabled>
              </mat-form-field>
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Type</mat-label>
                <input matInput value={{shop.type}} disabled>
              </mat-form-field>
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Phone</mat-label>
                <input matInput value={{shop.phone}} disabled>
              </mat-form-field>
            </div>
            <div class="shop-info-fields-row">
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Country</mat-label>
                <input matInput value={{shop.country}} disabled>
              </mat-form-field>
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>City</mat-label>
                <input matInput value={{shop.city}} disabled>
              </mat-form-field>
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Street</mat-label>
                <input matInput value={{shop.street}} disabled>
              </mat-form-field>
            </div>
            <div class="shop-info-fields-row">
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Website</mat-label>
                <input matInput value={{shop.website}} type="url" disabled>
              </mat-form-field>
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Open Time</mat-label>
                <input matInput value={{shop.openTime}} disabled>
              </mat-form-field>
              <mat-form-field appearance="fill" class="shop-info-field">
                <mat-label>Close Time</mat-label>
                <input matInput value={{shop.closeTime}} disabled>
              </mat-form-field>
            </div>
          </div>
          <!--TODO: rework with flex-->
          <div class="description-field">
            <mat-form-field appearance="fill" class="shop-info-field">
              <mat-label>Here is located a detailed information about shop or Second Hand with all information that is related to open page and is usefulle for current User</mat-label>
              <textarea matInput disabled rows="5" class="description-textarea"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="shop-info-map">
        <div class="shop-info-detail-map">
          <agm-map style="height: 400px" [latitude]="shopLatitude" [longitude]="shopLongitude"></agm-map>
        </div>

        <div class="subscribe-button-wrapper">
          <div class="subscribe-button">
            <span><button class="button" mat-raised-button color="primary" (click)="openEditModal()">Edit</button></span>
            <span *ngIf="!isUserFavorite"><button class="button" mat-raised-button color="primary" (click)="addToFavorite()">Add to favorite</button></span>
            <span *ngIf="isUserFavorite"><button class="button" mat-raised-button color="primary" (click)="deleteFavoriteShop()">Delete to favorite</button></span>
            <span *ngIf="!isUserSubscribed"><button class="button" mat-raised-button color="primary" (click)="openSubscribeModal()">Subscribe</button></span>
            <span *ngIf="isUserSubscribed" class="last-span"><button class="button" mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button></span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-goods [shopId]="shopId"></app-goods>
