<div class="subscription-header">
  Choose your subscription
</div>
<div class="subscribe-choices">
  <mat-card class="subscribe-choice" (click)="chooseSubscriptionType('email')" id="email">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/At_sign.svg/239px-At_sign.svg.png" alt="" class="image">
  </mat-card>

  <mat-card class="subscribe-choice" (click)="chooseSubscriptionType('telegram')" id="telegram">
    <img src="/assets/telegram-logo.png" alt="" class="image">
  </mat-card>

  <mat-card class="subscribe-choice" (click)="chooseSubscriptionType('sms')" id="sms">
    <img src="/assets/sms.png" alt="" class="image">
  </mat-card>
</div>

<div class="subscribe-buttons-wrapper">
  <div class="subscribe-buttons">
    <button mat-raised-button color="warn" (click)="closeModal()">Close</button>
    <button mat-raised-button color="primary" (click)="subscribe()" class="subscribe-button">Subscribe</button>
  </div>
</div>
