<div class="card-stores" >
  <div class="card-stores__img">
    <img src="{{shop.image}}" alt="" (click)="openShop()">
  </div>
  <div class="card-stores__title">
    <p>{{shop.name}}</p>
  </div>
  <div class="card_stores__description">
    <p>{{shop.description}}</p>
  </div>
  <div class="goods__pay-button" *ngIf="showSubscribedButtons">
    <button *ngIf="!shop.isSubscribed" mat-raised-button color="primary" [disabled]="false" (click)="subscribe()">Subscribe</button>
    <button *ngIf="shop.isSubscribed" mat-raised-button color="warn" [disabled]="false" (click)="unsubscribe()">Unsubscribe</button>
  </div>
</div>
